body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  padding: 20px;
}

.input {
  width: 400px;
  min-width: 40%;
  max-width: 90%;
  background-color: transparent;
  padding: 10px 15px;
  border: 3px solid blueviolet;
  outline: none;
  border-radius: 5px;
  color: blue;
  font-style: italic;
  font-size: 20px;
}

.input:focus {
  border: 3px solid #00f;
  background-color: rgba(0, 0, 100, 0.1);
}

.city {
  width: 400px;
  min-width: 40%;
  max-width: 80%;
  background-color: rgba(100, 50, 0, 0.2);
  padding: 10px 15px;
  border: 3px solid brown;
  outline: none;
  border-radius: 5px;
  color: blue;
  font-style: italic;
  font-size: 20px;
  margin: 10px auto;
}

.name {
  font-size: 25px;
  color: blueviolet;
  font-weight: 700;
}

.population {
  color: brown;
  font-weight: bold;
  text-align: right;
}

.hl {
  background-color: chartreuse;
  color: deeppink;
}

.no-result {
  color: red;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}