:root {
  --spacing: 10px;
  --blur: 1px;
  --base: #ffa500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #634e65;
  min-height: 100vh;
  color: #eee;
  text-align: center;
}

.container h1 {
  padding: 20px;
}

.inputs {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.text {
  font-weight: bold;
  font-size: 20px;
}

.text label {
  display: block;
  padding: 15px;
}

img {
  height: 500px;
  max-height: 50vw;
  background-color: var(--base);
  padding: var(--spacing);
  filter: blur(var(--blur));
}
