* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container h1 {
  padding: 30px;
  color: #fff;
  font-size: 50px;
  background-color: rgba(0, 0, 200, 0.2);
  border-radius: 5px;
  text-align: center;
}

.clock {
  width: 30%;
  aspect-ratio: 1/1;
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(0, 0, 255, 0.2);
  border: 7px solid blue;
  border-radius: 100%;
  position: relative;
}

.hour,
.minute,
.second {
  position: absolute;
  top: 50%;
  transform-origin: 100%;
}

.hour {
  left: 20%;
  width: 30%;
  height: 8px;
  background-color: blue;
}

.minute {
  left: 10%;
  width: 40%;
  height: 6px;
  background-color: red;
}

.second {
  left: 5%;
  width: 45%;
  height: 4px;
  background-color: green;
}

.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  transform: translate(-50%, -35%);
}
